<!-- <table>
  <tr>
    <td><%= @something[0] %></td>
    <td><%= @something[1] %></td>
  </tr>
  <tr>
    <td><%= @something[2] %></td>
    <td><%= @something[3] %></td>
  </tr>
</table> -->

<table>
  <% @something.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td><%= cell %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @message %>
  <h3><%= @message %></h3>
<% end %>

<%= @name %>
